<?xml version="1.0" encoding="UTF-8" ?>

<launch>
  <arg name="camera" default="usb_cam" />
  <arg name="num_worker_threads" default="4" />
  <arg name="manager" value="$(arg camera)_nodelet_manager" />

  <group ns="$(arg camera)">
    <node pkg="nodelet" type="nodelet" name="$(arg manager)" args="manager" output="screen">
       <param name="num_worker_threads" value="$(arg num_worker_threads)" />
    </node>

    <include file="$(find image_proc)/launch/image_proc.launch">
      <arg name="manager" value="$(arg manager)" />
    </include>
  </group>
</launch>
